<?xml version="1.0" ?>
<config>
	<modules>
		<Plumrocket_Callforprice>
			<version>0.1.0</version>
		</Plumrocket_Callforprice>
	</modules>
	<frontend>
		<routers>
			<plumrocket_callforprice>
				<use>standard</use>
				<args>
					<module>Plumrocket_Callforprice</module>
					<frontName>price</frontName>
				</args>
			</plumrocket_callforprice>
		</routers>
		<layout>
			<updates>
				<plumrocket_callforprice>
					<file>plumrocket_callforprice.xml</file>
				</plumrocket_callforprice>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<plumrocket_callforprice>
				<class>Plumrocket_Callforprice_Block</class>
			</plumrocket_callforprice>
		</blocks>
		<helpers>
			<plumrocket_callforprice>
				<class>Plumrocket_Callforprice_Helper</class>
			</plumrocket_callforprice>
		</helpers>
		<models>
			<plumrocket_callforprice>
				<class>Plumrocket_Callforprice_Model</class>
				<resourceModel>plumrocket_callforprice_resource</resourceModel>
			</plumrocket_callforprice>
			<plumrocket_callforprice_resource>
				<class>Plumrocket_Callforprice_Model_Resource</class>
				<entities>
					<table_callrequests>
						<table>plumrocket_callforprice_callrequests</table>
					</table_callrequests>
				</entities>
			</plumrocket_callforprice_resource>
		</models>
		<resources>
			<plumrocket_callforprice_setup>
				<setup>
					<module>Plumrocket_Callforprice</module>
				</setup>
			</plumrocket_callforprice_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<plumrocket_callforprice_admin>
				<use>admin</use>
				<args>
					<module>Plumrocket_Callforprice</module>
					<frontName>callforprice_admin</frontName>
				</args>
			</plumrocket_callforprice_admin>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<plumrocket_callforprice module="plumrocket_callforprice">
				<title>Plumrocket</title>
				<sort_order>77</sort_order>
				<children>
					<manage>
						<title>Call For Price</title>
						<sort_order>0</sort_order>
						<children>
							<requests>
								<title>Manage Requests</title>
								<sort_order>0</sort_order>
								<action>callforprice_admin/adminhtml_requests</action>
							</requests>
							<rules>
								<title>Manage Rules</title>
								<sort_order>10</sort_order>
								<action>callforprice_admin/adminhtml_rules</action>
							</rules>
							<configuration>
								<title>Configuration</title>
								<sort_order>11</sort_order>
								<action>callforprice_admin/adminhtml_configuration</action>
							</configuration>
						</children>
					</manage>
				</children>
			</plumrocket_callforprice>
		</menu>
	</adminhtml>
</config>